<HTML>
    <head>
        <base href="{% url 'mvle.views.process_mvle' %}" />
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/mvle.css" %}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/java-code.css" %}" media="screen"/>
        <script type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}"></script>
        <!--  include if you will have java code to syntax highlight -->
        <script type="text/javascript" src="{% static "scripts/rainbow-custom.min.js" %}"></script>
        {% block head %} {% endblock %}
    </head>

    <body>
        {% block body %} {% endblock %}
        
    </body>


</HTML>
