<HTML>
    <head>
		<!-- from base.html -->
        <!-- <base href="{% url 'mvle.views.process_mvle' %}" /> -->
        <!-- {% load staticfiles %} -->
		<base href="/mvle/static/" />
        <link rel="stylesheet" type="text/css" href="css/mvle.css" media="screen"/>
        <script type="text/javascript" src="scripts/jquery-1.9.1.min.js"></script>
        
		<!-- from single-mc.html -->
        <script type="text/javascript" src="scripts/multiplechoice.js"></script>
    </head>

    <body>
        <div class="question-data" style="display:none">
			
		</div>
		
		<div id="centeredDiv" class="bg7">
			

		</div>
        
    </body>


</HTML>
