header {
    background-color: #F8F9CC;
    text-align: center;
    border: 1px dotted #0094ff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
}

h1 {
    background-color: #F8F9CC;
    text-align: center;
    border: 1px dotted #0094ff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

#text {
    font-family: 'Patrick Hand SC', cursive;
    background-color: #FFE9FF;
    color: #C785CD;
    border: 1px dotted #0094ff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 25px;
}

#login {
    font-family: 'Calibri', sans-serif;
    background-color: #FFE9FF;
    color: #C785CD;
    border: 1px dotted #0094ff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    text-align: center;
}

body {
    font-family: 'Freckle Face';
    color: #167144;
    background-color: #C1F0F6;
    font-size: 60px;
}

ul {
    text-align: center;
    background-color: #ABEECD;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 26px;
}

a:hover {
    text-decoration: none;
    color: #84A3FF;
}
