{% extends "website/base.html" %}

{% block body %}
<h1>
    Sign Up
</h1>

<div id = "login">
	<table>
	<tr>
	<td>First Name</td>
	<td><input type="text" name="firstname" /><br></td>
	</tr>
	<tr>
	<td>Last Name</td>
	<td><input type="text" name="lastname" /><br></td>
	</tr>
	<tr>
	<td>Email</td>
	<td><input type="text" name="email" /><br></td>
	</tr>
	<tr>
	<td>Username</td>
	<td><input type="text" name="username" /><br></td>
	</tr>
	<tr>
	<td>Password</td>
	<td><input type="text" name="password" /><br></td>
	</tr>
	</table>
	<input type="submit" value="Sign up" name="submit" class="submit"/>
</div>

{% endblock %}
